.list {
  display: grid;
}

.legal-pad {
  background-color: #f3e5ab;
  /* Pale yellow */
  background-image: linear-gradient(#f9f9f9 0.05em, transparent 0.05em);
  background-size: 100% 1.2em;
  /* Line spacing */
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  padding: 1em;
}

.legal-pad .margin-line {
  border-left: 4px solid red;
  margin-left: 6px;
}